@import "./_variables"

.card
    width: 45rem
    height: 45rem
    background: $main-color
    padding: 0
    display: flex
    flex-direction: column
    margin:  0 5rem
    @extend .shadow-ur

    h1
        margin: 0
        padding: 1rem 0
        text-align: center
        flex: 0 1 auto

    p
        padding: 1rem 3rem
        flex: 1 1 auto

    img
        height: 10rem
        display: block
        margin: auto

    a
        text-decoration: none
        padding: 0
        margin: 0 2rem 2rem auto

        &:hover
            color: $accent-color