<footer>
    {{ $current := . }}
    <nav>
        <ul>
            {{ range .Site.Menus.footer }}
            <li>
                <a href="{{ .URL | relLangURL }}">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
    
    {{ if .IsHome }}
    <div id="languageswitch">
        <ul>
            {{ range $.Site.Home.AllTranslations }}
            {{ $active := eq $current.Language.Lang .Language.Lang}}
            {{ $permalink := cond (strings.HasSuffix .Permalink "html") .Permalink (printf "%sindex.html" .Permalink) }}
            <li>
                <a class="{{ if  $active }} isActive {{ end }}" href="{{ $permalink }}">{{ .Language.Lang }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
       
    </div>
</footer>