<header>
    <nav>
        {{ $current := . }}
        <ul>
            {{ range .Site.Menus.nav }}
            {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
            {{ $active = or $active (eq .Name $current.Title) }}
            {{ $active = or $active (and ($current.IsHome) (eq .Name "Home")) }}
            {{ $active = or $active (eq .Name $current.CurrentSection.Name) }}
            <li>
                <a href="{{ .URL | relLangURL }}" class="{{ if $active }} isActive {{ end }}">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>

    <div id="languageswitch">
        <ul>
            {{ range $.Site.Home.AllTranslations }}
            {{ $active := eq $current.Language.Lang .Language.Lang}}
            {{ $permalink := cond (strings.HasSuffix .Permalink "html") .Permalink (printf "%sindex.html" .Permalink) }}
            <li>
                <a class="{{ if  $active }} isActive {{ end }}" href="{{ $permalink }}">{{ .Language.Lang }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</header>