<head>
    <title> {{.Title}} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ .Description }}">
    <base href="{{ .Site.BaseURL }}">
    
    {{ $styles := resources.Get "sass/main.sass" | toCSS (dict "outputStyle" "compressed")}}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
    <link rel="shortcut icon" href="/images/antme.ico" type="image/x-icon">
</head>